<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="Signup-form">
        <header class="Signup-form__header">
            <a href="#" class="Signup-form__logo">
                <img src="./imgs/logo2.svg" alt="logo">
            </a>
            <div class="Signup-form__header-text">
                <h1 class="Signup-form__h1">Sign Up</h1>
            </div>
        </header>
        <div class="Signup-form__content">            
            <a class="Signup-form__auth-btn" href="#">
                <img class="Signup-form__auth-btn-logo" src="./imgs/google-btn.svg">
                Continue with Google
            </a>
            <a class="Signup-form__auth-btn" href="#">
                <img class="Signup-form__auth-btn-logo" src="./imgs/facebook-btn.svg">
                Continue with Facebook
            </a>
            <a class="Signup-form__auth-btn" href="#">
                <img class="Signup-form__auth-btn-logo" src="./imgs/apple-btn.svg">
                Continue with Apple
            </a>
            <div class="Signup-form__separator">
                <div class="Signup-form__separator-label">OR</div>
            </div>
            <label class="Signup-form__input-label" for="email">Email</label>
            <input class="Signup-form__input" type="email" placeholder="Enter email" name="email">
            <label class="Signup-form__input-label" for="email">Password</label>
            <input class="Signup-form__input" type="password" placeholder="Enter password" name="password">
            <div class="Signup-form__terms">
                <input class="Signup-form__checkbox" type="checkbox" name="che" id="che">
                <label class="Signup-form__checkbox-label" for="che">I agree with the <a href="#" class="Signup-form__link">Terms and Conditions</a></label>
            </div>
            <button type="button" class="Signup-form__signup-btn">Sign Up</button>
            <p class="Signup-form__signin">Already have an account? <a href="#" class="Signup-form__link">Sign In</a></p>
        </div>
    </div>
</body>
</html>