.Pagination * {
    margin: 0;
    padding: 0;    
    font-family: 'Roboto', sans-serif;   
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: #5238AA; 
}

.Pagination__ul {
    display: flex;
}

.Pagination__li {
    min-width: 32px;
    text-align: center;
}

.Pagination__li a {
    border-radius: 8px;
    min-width: 32px;
    text-align: center;
    display: inline-block; 
    padding: 5px 0;
}

.Pagination__li--active a {
    color: #222222;
    background: #ECECEC;       
}

.Pagination__li--dots a {
    color: #999;
}