<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Sidebar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="Sidebar">
        <!-- <header class="Sidebar__header">
            <a href="#" class="Sidebar__logo">
                <img src="../imgs/logo.svg" alt="logo">
            </a>
            <div class="Sidebar__header-text">
                <span class="Sidebar__header-text-name">
                    <span class="Sidebar__header-text-name-to">To</span>
                    <span class="Sidebar__header-text-name-do"> Do</span>
                    <span class="Sidebar__header-text-name-list"> List</span>   
                </span>
            </div>  
        </header> -->
        <div class="Sidebar__menu-bar">
            <div class="Sidebar__menu">
                <ul class="Sidebar__ul">
                    <li class="Sidebar__li">
                        <a href="#">
                            <img class="Sidebar__li-icon" src="../imgs/inbox.svg" alt="">
                            <span class="Sidebar__li-text">All tasks</span>
                        </a>
                    </li>
                    <li class="Sidebar__li">
                        <a href="#">
                            <img class="Sidebar__li-icon" src="../imgs/today.svg" alt="">
                            <span class="Sidebar__li-text">Today</span>
                        </a>
                    </li>
                    <li class="Sidebar__li">
                        <a href="#">
                            <img class="Sidebar__li-icon" src="../imgs/scheduled.svg" alt="">
                            <span class="Sidebar__li-text">Scheduled</span>
                        </a>
                    </li>
                    <li class="Sidebar__li">
                        <a href="#">
                            <img class="Sidebar__li-icon" src="../imgs/flag.svg" alt="">
                            <span class="Sidebar__li-text">Flagged</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="Sidebar__extension">
                <ul class="Sidebar__extension-header">                   
                    <li class="Sidebar__extension-li">
                        <div class="Sidebar__extension-li-header">
                            <a href="#" class="Sidebar__extension-li-toggle">
                                <img class="Sidebar__extension-li-toggle-icon" src="../imgs/chevron-down.svg" alt="">
                                <span class="Sidebar__extension-li-toggle-text">Projects</span>
                            </a>
                            <button class="Sidebar__extension-li-add">
                                <img src="../imgs/addplus.svg" alt="">
                            </button>
                        </div>
                        <ul class="Sidebar__extension-li-entered">
                            <li class="Sidebar__extension-li-entered-item">
                                <a href="#" class="Sidebar__extension-li-entered-item-a">
                                    <span>Welcome</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>