<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./MainContent.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="MainContent">
        <header class="MainContent__header">
            <h1>Welcome</h1>
            <div class="MainContent__bar">

                <div class="MainContent__bar-buttons">
                    <button class="MainContent__btn--add">
                        <span>
                            <img class="MainContent__icon" src="../imgs/plus.svg">
                        </span>
                        Add task
                    </button>
                </div>

                <div class="MainContent__bar-checkbox">
                    <input type="checkbox" class="MainContent__checkbox" id="checkbox" />
                    <label for="checkbox" class="MainContent__checkbox-label">Show completed tasks</label>
                </div>

            </div>
        </header>

        <section class="MainContent__section">
            <div class="MainContent__items">
                <div class="MainContent__item">
                    <div class="MainContent__bar-checkbox">

                        <input type="checkbox" class="MainContent__checkbox" id="checkbox" />
                        <label for="checkbox" class="MainContent__checkbox-label">Create Design</label>

                    </div>
                </div>
                <div class="MainContent__item">
                    <div class="MainContent__bar-checkbox">

                        <input type="checkbox" class="MainContent__checkbox" id="checkbox" />
                        <label for="checkbox" class="MainContent__checkbox-label">Create Design</label>

                    </div>
                </div>
                <div class="MainContent__item">
                    <div class="MainContent__bar-checkbox">

                        <input type="checkbox" class="MainContent__checkbox" id="checkbox" />
                        <label for="checkbox" class="MainContent__checkbox-label">Create Design</label>

                    </div>
                </div>
                <div class="MainContent__item">
                    <div class="MainContent__bar-checkbox">

                        <input type="checkbox" class="MainContent__checkbox" id="checkbox" />
                        <label for="checkbox" class="MainContent__checkbox-label">Create Design</label>

                    </div>
                </div>
                <div class="MainContent__item">
                    <div class="MainContent__bar-checkbox">

                        <input type="checkbox" class="MainContent__checkbox" id="checkbox" />
                        <label for="checkbox" class="MainContent__checkbox-label">Create Design</label>

                    </div>
                </div>
            </div>
        </section>

    </div>
</body>

</html>